@import "../../App.scss";

.UserPageDiv {
  @include pageCenter(100%, 90px);

  .imageBackground {
    @include backgroundDisplay();
    background-color: $pageColor;
  }

  .contentDiv {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    position: fixed;
    top: 0;

    .profileDiv {

      .pro {
        background-color: $primaryColor;
        border-radius: 15px;
        border: 2px solid $accentColor;
      }

      .followDiv {
        padding: 10px;
      }

    }

    .yourblog {
      border: 2px solid $accentColor;
      width: 70%;
      border-radius: 15px;
    }
  }

}