@import '../../App.scss';

.FollowComponent {
  @include tooltip();

  .follow {
    color: $textColor;
  }

  .follow:hover {
    color: $accentColor;
    transform: scale(1.3)
  }



  .unfollow {
    color: $accentColor;
    transform: scale(1.3)
  }
}