* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.community-wrapper {
 height: 100vh;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}

.card {
 display: flex;
 flex-wrap: wrap;
 width: 900px
}