@import '../../App.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: $primaryColor;
  border: 2px solid $accentColor;
  border-radius: 15px;

  .flippy-container {
    width: 100%;

    .flippy-cardContainer-wrapper horizontal {
      width: 100%;

      .flippy-cardContainer {
        width: 100%;

        .flippy-card .flippy-front {
          width: 100%;
        }
      }
    }
  }

  .profile-info {
    width: 100%;




    img {
      width: 100%;
    }

    p {
      font-size: 20px;
    }
  }



  // .tabTitle {
  //  border: 1px solid darkcyan;
  //  width: 150px;
  //  height: 50px;
  // }

  .editForm {
    width: 100%;
    min-height: 100%;
    display: flex;

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      input {
        border-radius: 10px;
        height: 20px;
      }

      .button-container {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  button {
    @include button;
  }

}