@import "../../App.scss";

.StarContainer {
  .Star1 {
    color: #ff0000;
  }
  .Star2 {
    color: #ff4d4d;
  }
  .Star3 {
    color: #ff8000;
  }
  .Star4 {
    color: #ff9933;
  }
  .Star5 {
    color: yellow;
  }
  // .emoji {
  // }
}
