@import "../../App.scss";

.StarContainer {
  // background-color: rgba(0, 0, 0, .5);
 // border: 2px solid $accentColor;
 // border-radius: 15px;

  .Star1 {
    color: $accentColor;
  }

  .Star2 {
    color: $accentColor;
  }

  .Star3 {
    color: $accentColor;
  }

  .Star4 {
    color: $accentColor;
  }

  .Star5 {
    color: $accentColor;
  }

  // .emoji {
  // }
}