* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.card-wrapper {
 background: white;
 height: 50vh;
 display: grid;
 grid-template-columns: 1fr 2fr;
 grid-template-rows: 1fr 2fr;
 grid-template-areas:
  "poster info"
  "poster post"
}

.blog-info {
 grid-area: info;
}

.poster {
 grid-area: poster;
}

.blog-post {
 grid-area: post;
}