@import '../../App.scss';

.display2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;



  .tabTitle {}

  .displayTickets {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;



  }
}