* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.friends-container {
 background: white;
 height: 30vh;
 display: grid;
 grid-gap: 10px;
 grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
 // grid-template-columns: 1fr 1fr;
 // grid-template-rows: 1fr 1fr 1fr;
 // grid-template-areas:
 //  "card card1"
 //  "card1 card1"
 //  "card1 card1"
}

.card {
 background-color: #444;
 color: #fff;
 border-radius: 5px;
 padding: 20px;
 font-size: 150%;
}