* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


.friends-wrapper {
 height: 100vh;
 // width: 100vw;
 display: flex;
 flex-flow: row wrap;
 justify-content: space-evenly;
 margin-bottom: 10px;
 flex-grow: 1;
 flex: 1 1 30%;
}

.tabTitle {}

.card {


 // display: flex;
 // flex-wrap: wrap;
 // width: 33%;
 // flex-grow: 1;
 a {
  text-decoration: none;
 }

}