@import "../../App.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.Dashboard-wrapper {
  @include pageCenter(100%, 100px);


  .Content-wrapper {
    display: flex;
    width: 100%;

    .Profile-container {
      width: 20%
    }



    .Master-container {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;



      .tabs-container {
        // border: 1px solid greenyellow;
        display: flex;

        width: 100%;
        justify-content: flex;
        background: $buttonColor;

        button {
          width: 100px;
          height: 50px;
          border-radius: 5%;
          background: $textColor;
          color: white;
          font-size: 18px;
        }

        button:focus {
          background-color: $primaryColor;
          border: none;
          color: $textColor;
        }
      }

      .tab-display {
        width: 100%;
      }
    }
  }









}