* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.grid-wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-areas:
    "header header header header"
    "profile main main main"
    "profile main main main"
    "button main main main";


}

.tabs-container {
  height: 7vh;
  grid-area: header;
}

.tabBtns {
  margin-top: 90px;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
}

.tab-display {
  grid-area: main;

}

.profile-container {
  grid-area: profile;
}

.button-container {
  grid-area: button;
}