@import '../../App.scss';

.CommentPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-height: 500px;
  background-color: rgba(0, 0, 0, .6);

  overflow: auto;
  border: 2px solid $accentColor;
  border-radius: 5px;

  .commentHeader {
    width: 100%;
    position: sticky;
    top: -2px;
    background-color: black;

  }

  h1 {
    color: $accentColor;
  }

  .makeComment {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;


    textarea {
      background-color: transparent;
      border: none;
      font-size: 17px;
      border-bottom: 2px solid $accentColor;
      width: 100%;
      color: $textColor;

    }

    button {
      @include button;
      background-color: black;
    }


  }

  .commentDiv {
    margin-bottom: 10px;


    h5 {
      font-size: 20px;
      color: $accentColor;
    }

    h5:before {
      content: ('by: ');
    }

    p {
      font-size: 30px;

    }

  }

}