$primaryColor: #7e0000;
$secondaryColor: #f29763;
$accentColor: #f54504;
$buttonColor: #404040;
$pageColor: #0d0d0d;
$textColor: #afaaaa;

$HeaderFont: "Montserrat",
sans-serif;
$TextFont: "Abel",
sans-serif;

// quotes: single quotes;
// events: use e
// error : use error
// request & response: use req & res
// sql files: undersore
// everyOther file: Pascale
// variables : camelCase

@mixin pageCenter($pagewidth, $marginTop) {
  margin: 0;
  min-height: 100vh;
  padding-top: $marginTop;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $pagewidth;
  font-family: $TextFont;
}

@mixin backgroundDisplay() {
  height: 100%;
  min-width: 100vw;
  position: fixed;
  z-index: 0;
}

@mixin overlay() {
  z-index: 1;
}

@mixin tooltip() {
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: $primaryColor;
    color: $textColor;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    top: 40px;
    font-size: 15px;

    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}




@mixin pageHeader () {
  font-family: $HeaderFont;
  color: black;
  font-size: 50px;
  margin: 30px;
}

// @mixin starContainer() {
//   background-color: $accentColor;
// }

.App {
  min-height: 100vh;
  background-color: $pageColor;
  font-family: $TextFont;
  color: $textColor;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}