.App {

  // quotes: single quotes;
  // events: use e
  // error : use error
  // request & response: use req & res
  // sql files: undersore
  // everyOther file: Pascale
  // variables : camelCase




  $primaryColor: #D8062D;
  $secondaryColor: #F29763;
  $accentColor: #F2622E;
  $buttonColor: #404040;
  $pageColor: #D9D9D9;

  $HeaderFont: 'Montserrat', sans-serif;
  $TextFont: 'Abel', sans-serif;


  @mixin pageCenter ($pagewidth) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: $pageBackground;
    width: $pagewidth;
    height: 80%;
    padding-top: 80px;
    font-family: $TextFont;

  }





  @mixin pageHeader {
    font-family: $HeaderFont;
    font-size: 50px;
    margin: 30px;
  }

  .App {
    min-width: 100vw;
    min-height: 100vh;
    background-color: $pageColor;
  }
}