$primaryColor: #D8062D;
$secondaryColor: #F29763;
$accentColor: #F2622E;
$buttonColor: #404040;
$pageColor: #D9D9D9;

$HeaderFont: 'Montserrat',
sans-serif;
$TextFont: 'Abel',
sans-serif;

// quotes: single quotes;
// events: use e
// error : use error
// request & response: use req & res
// sql files: undersore
// everyOther file: Pascale
// variables : camelCase

@mixin pageCenter($pagewidth, $marginTop) {
  margin: 0;
  margin-top: $marginTop;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $pagewidth;
  font-family: $TextFont;

}

@mixin backgroundDisplay() {
  height: 100%;
  min-width: 100vw;
  position: fixed;
  margin: auto;
  padding: 0;
  z-index: 0;
}

@mixin overlay() {
  z-index: 1;
}




@mixin pageHeader () {
  font-family: $HeaderFont;
  font-size: 50px;
  margin: 30px;
}


.App {
  @include pageCenter(100%, 0px);
  min-height: 100vh;
  background-color: $pageColor;
  font-family: $TextFont;
  font-size: 2rem;
}